<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <script src="../assets/js/defaultDataLoader.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">Login</h1>
      <form id="admin-Login-form" class="mt-3">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required />
        </div>
        <button
          type="submit"
          name="submitBtn"
          value="adminLogin"
          class="btn btn-primary mt-3"
        >
          Login
        </button>
      </form>
    </div>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../Views/adminLogin.js"></script>
    <script src="../Controllers/authController.js"></script>
    <script src="../models/adminModel.js"></script>
    <script src="../controllers/adminController.js"></script>
    <script src="../Views//alertModalView.js"></script>
  </body>
</html>
