<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/orders.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- first navbar start -->
    <nav
      class="navbar navbar-1 navbar-expand-xl secondary-color text-white w-100 border-body"
    >
      <div class="container mt-1">
        <a class="h1 navbar-brand fsize-1 text-white" href="./home.html"
          >Tea.</a
        >
        <form class="d-flex col col-lg-8 mx-lg-5" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="What are you looking for?"
            aria-label="Search"
            onclick="window.location.href = `productCatalog.html`"
          />
        </form>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse col" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mt-4 mt-xl-0 mb-2 mb-lg-0">
            <li class="nav-item" id="logged-user">
              <a
                class="nav-link active"
                aria-current="page"
                data-bs-toggle="modal"
                data-bs-target="#login"
                ><i class="bi bi-person-fill text-white">&nbsp Login</i></a
              >
            </li>

            <li class="nav-item d-none" id="register">
              <div class="dropdown nav-link p-0">
                <button
                  class="btn dropdown-toggle p-0 p-xl-2 text-white"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-person-plus-fill text-white"
                    >&nbsp Register</i
                  >
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      aria-current="page"
                      data-bs-toggle="modal"
                      data-bs-target="#registration"
                      class="dropdown-item"
                      >New Customer?</a
                    >
                  </li>
                  <li>
                    <a
                      aria-current="page"
                      data-bs-toggle="modal"
                      data-bs-target="#seller-registration"
                      class="dropdown-item"
                      class="dropdown-item"
                      >New Seller?</a
                    >
                  </li>
                </ul>
              </div>
            </li>

            <li id="wishlist-link" class="nav-item">
              <a class="nav-link active" href="wishlist.html"
                ><i class="bi bi-bag-heart-fill text-white"
                  >&nbsp Wishlist</i
                ></a
              >
            </li>
            <li id="cart-link" class="nav-item">
              <a class="nav-link active" href="cart.html"
                ><i class="bi bi-cart4 text-white"
                  ><span
                    id="notification"
                    style="font-size: 0.6rem"
                    class="position-absolute top-40 start-10 translate-middle badge rounded-circle"
                  >
                  </span
                  >&nbsp Cart
                </i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- first navbar end -->

    <!-- second navbar start -->
    <nav class="nav2 navbar navbar-expand navbar-light bg-light">
      <div
        class="container h-scroll-parent justify-content-start flex-nowrap overflow-auto"
      >
        <ul class="navbar-nav mb-2 mb-lg-0 col-12 col-xl-8 h-scroll-child">
          <li class="nav-item border-end mx-2 col-4 col-xl-3">
            <a class="nav-link active" href="productCatalog.html">
              All Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filteredProducts.html?filter=living-room"
              >Living Room</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filteredProducts.html?filter=Bedroom"
              >Bedroom</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filteredProducts.html?filter=dining-room"
              >Dining Room</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filteredProducts.html?filter=office"
              >Office</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="filteredProducts.html?filter=outdoor"
              >Outdoors</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <!-- second navbar end -->

    <!-- Orders start -->

    <section class="orders container my-4">
      <h3 class="my-4">Your Orders</h3>
      <div class="row">
        <div class="row" id="orders-container"></div>
      </div>
    </section>

    <!-- orders end  -->

    <script src="../Models/productModel.js"></script>
    <script src="../Models/userModel.js"></script>
    <script src="../Controllers/authController.js"></script>
    <script src="../Controllers/userController.js"></script>
    <script src="../Controllers/UIController.js"></script>
    <script src="orders.js"></script>
  </body>
</html>
