<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <link rel="stylesheet" href="../assets/css/orders.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <!-- first navbar start -->
    <nav
      id="navbar-1"
      class="navbar navbar-1 navbar-expand-xl secondary-color text-white w-100 border-body"
    ></nav>
    <!-- first navbar end -->

    <!-- second navbar start -->
    <nav
      id="navbar-2"
      class="nav2 navbar navbar-expand navbar-light bg-light"
    ></nav>

    <!-- second navbar end -->

    <!-- Orders start -->

    <section class="orders container mt-5 col-10">
      <h3 class="my-4">Your Orders</h3>
      <div class="row">
        <div class="row" id="orders-container"></div>
      </div>
    </section>

    <!-- orders end  -->

    <script src="../Models/productModel.js"></script>
    <script src="../Models/userModel.js"></script>
    <script src="../Controllers/authController.js"></script>
    <script src="../Controllers/userController.js"></script>
    <script src="../Controllers/UIController.js"></script>
    <script src="orders.js"></script>
  </body>
</html>
