<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="../assets/css/userDashboard.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <!-- first navbar start -->
    <nav
      id="navbar-1"
      class="navbar navbar-1 navbar-expand-xl secondary-color text-white w-100 border-body"
    ></nav>
    <!-- first navbar end -->

    <!-- second navbar start -->
    <!-- <nav
      id="navbar-2"
      class="nav2 navbar navbar-expand navbar-light bg-light border-bottom"
    ></nav> -->

    <!-- second navbar end -->

    <!-- sidebar start -->
    <div class="container-fluid mt-4">
      <div class="row">
        <section
          id="sidebar"
          class="sidebar col-10 col-xl-2 bg-transparent mt-4 text-white p-4 m-auto"
        >
          <div class="mx-auto text-center rounded-3 mx-auto">
            <i class="bi bi-person-circle fs-1"></i>
            <h4 id="user-name"></h4>
            <p class="accent-text" id="handle" class="text-muted mt-1"></p>
            <p id="user-email" class="m-0 fw-lighter"></p>
            <div class="text-start">
              <ul class="list-group list-group-flush">
                <hr />

                <li
                  id="profile-info"
                  class="list-group-item shadow-sm rounded secondary-color text-white my-2 highlighted"
                >
                  <i class="bi bi-person-lines-fill ms-2"></i>&nbsp Profile
                  Information
                </li>
                <li
                  id="orders"
                  class="list-group-item shadow-sm rounded secondary-color text-white my-2"
                >
                  <i class="bi bi-clipboard-check-fill ms-2"></i>&nbsp Orders
                </li>
                <li
                  id="wishlist"
                  class="list-group-item shadow-sm rounded secondary-color text-white my-2"
                >
                  <i class="bi bi-bookmark-heart-fill ms-2"></i>&nbsp WishList
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- sidebar end -->

        <!-- personal details start -->

        <section
          id="profile-card"
          class="container my-4 col-12 col-xl-8 p-4"
          data-aos="fade-up-right"
        >
          <div class="row gap-4">
            <div
              id="profile-container"
              class="card col-12 col-xl-5 p-4 my-4 complementary-color3"
            ></div>

            <!-- personal details end -->

            <!-- address card start -->
            <div
              id="addresses-container"
              class="card col-12 col-xl-5 p-4 my-4 complementary-color3"
              data-aos="fade-up-right"
            >
              <h4>Address Details</h4>
              <hr class="mb-4" />

              <button
                class="btn btn-light secondary-color text-white align-self-end"
                data-bs-toggle="modal"
                data-bs-target="#address-modal"
              >
                Add New Address
              </button>

              <div class="card mt-2 bg-light">
                <div
                  id="address-cards"
                  class="row justify-content-center"
                ></div>
              </div>
              <!-- address end -->
            </div>
            <!-- address card end -->
          </div>
        </section>

        <section
          id="orders-card"
          class="orders container my-4 col-8 d-none mt-5"
        >
          <div class="row mt-4">
            <div class="row justify-content-center" id="orders-container"></div>
          </div>
        </section>

        <section
          id="wishlist-card"
          class="container h-50 col-11 col-xl-8 mt-4 d-none"
          data-aos="fade-up-right"
        >
          <div
            id="products-container"
            class="row gap-4 justify-content-center"
            data-aos="zoom-in-up"
          ></div>
        </section>

        <!-- wishlist end -->
      </div>
    </div>

    <!-- personal details modal start -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Update Personal Details
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body secondary-color text-white">
            <form class="row p-3">
              <div class="form-group col-6 mb-4">
                <label for="firstName" class="mb-2">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="first-name"
                  placeholder="First name"
                />
              </div>
              <div class="form-group col-6 mb-4">
                <label for="lastName" class="mb-2">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="last-name"
                  placeholder="Last name"
                />
              </div>
              <div class="form-group col-12 mb-4">
                <label for="email" class="mb-2">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email-address"
                  placeholder="Email"
                />
              </div>
              <div class="form-group col-6 mb-4">
                <label for="phone" class="mb-2">Phone Number</label>
                <input
                  type="tel"
                  class="form-control"
                  id="contact"
                  placeholder="Phone number"
                />
              </div>
              <div class="form-group col-6 mb-4">
                <label for="phone" class="mb-2">Username</label>
                <input
                  type="tel"
                  class="form-control"
                  id="username"
                  placeholder="Username"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer secondary-color">
            <button
              type="button"
              class="btn btn-white text-white"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="update-user-btn"
              class="btn btn-light shadow-sm text-dark"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- personal details modal end -->

    <!-- address modal start -->
    <div
      class="modal fade"
      id="address-modal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Add New Address
            </h1>

            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body secondary-color text-white">
            <form class="row p-4">
              <div class="form-group col-12 mb-3">
                <label for="title" class="mb-2">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="Ex: Home"
                />
              </div>
              <div class="form-group col-12 mb-3">
                <label for="address" class="mb-2">Address Details</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Enter address"
                />
              </div>

              <div class="form-group col-12 mb-3">
                <label for="city" class="mb-2">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="city"
                  placeholder="Enter city"
                />
              </div>

              <div class="form-group col-12 mb-3">
                <label for="zip" class="mb-2">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="zip"
                  placeholder="Enter zip code"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer secondary-color">
            <button
              type="button"
              class="btn btn-white text-white"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id="saveAddressBtn" type="button" class="btn btn-light">
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- address modal end -->

    <!-- update addresses modal start -->

    <!-- Update Address Modal -->
    <div
      class="modal fade"
      id="update-address-modal"
      tabindex="-1"
      aria-labelledby="update-address-modal-label"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="update-address-modal-label">
              Update Address
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body secondary-color text-white p-4">
            <form id="update-address-form">
              <div class="mb-3">
                <label for="update-title" class="form-label">Title</label>
                <input
                  type="text"
                  class="form-control"
                  id="update-title"
                  name="title"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="update-address" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="update-address"
                  name="address"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="update-city" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  id="update-city"
                  name="city"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="update-zip" class="form-label">Zip Code</label>
                <input
                  type="text"
                  class="form-control"
                  id="update-zip"
                  name="zip"
                  required
                />
              </div>
              <input type="hidden" id="address-id" name="addressId" />
              <button type="submit" class="btn btn-light shadow-sm my-3">
                Update Address
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- update address modal -->

    <!-- update addresses modal end -->

    <script src="../Controllers/authController.js"></script>
    <script src="../Controllers/userController.js"></script>
    <script src="../Controllers/UIController.js"></script>
    <script src="../Models/productModel.js"></script>
    <script src="../Models/userModel.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="wishlist.js"></script>
    <script src="userDashboard.js"></script>
    <script src="orders.js"></script>
  </body>
</html>
