@media screen and (min-width: 1200px) {
  #sidebar {
    height: 100%;
    background: #2d4d5c !important;
    width: 19%;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-color: var(--secondary-color) !important;
  }
}

.sidebar li {
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.sidebar li:hover {
  /* box-shadow: 1px 2px 3px #aaa; */
  border: 2px solid #eee;
  transform: scale(1.03);
}

.sidebar li:active {
  background-color: white !important;
  color: #2d4d5c !important;
}

.highlighted {
  border: 2px solid #eee !important;
}

#address-cards {
  max-height: 300px; /* Adjust this value as needed */
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

/* orders */

#orders-card img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  object-position: 65%;
}

/* sidebar */

.sidebar h6:hover {
  background-color: #eee;
}
